<a href="https://colab.research.google.com/github/tanyagupta1/Machine-Learning/blob/main/decision_tree.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import files
uploaded=files.upload()

Saving salaries.csv to salaries.csv

In [ ]:
import io
import pandas as pd
df=pd.read_csv(io.BytesIO(uploaded['salaries.csv']))
df.head()

  company                  job     degree  salary_more_then_100k
0  google      sales executive  bachelors                      0
1  google      sales executive    masters                      0
2  google     business manager  bachelors                      1
3  google     business manager    masters                      1
4  google  computer programmer  bachelors                      0

In [ ]:
inputs=df.drop('salary_more_then_100k',axis='columns')
target=df['salary_more_then_100k']
inputs.head()
target.head()

  company                  job     degree
0  google      sales executive  bachelors
1  google      sales executive    masters
2  google     business manager  bachelors
3  google     business manager    masters
4  google  computer programmer  bachelors

In [ ]:
from sklearn.preprocessing import LabelEncoder
comp_enc=LabelEncoder()
job_enc=LabelEncoder()
degree_enc=LabelEncoder()

In [ ]:
inputs['comp_enc']=comp_enc.fit_transform(df['company'])
inputs['job_enc']=job_enc.fit_transform(df['job'])
inputs['degree_enc']=degree_enc.fit_transform(df['degree'])

In [ ]:
inputs.head()

  company                  job     degree  comp_enc  job_enc  degree_enc
0  google      sales executive  bachelors         2        2           0
1  google      sales executive    masters         2        2           1
2  google     business manager  bachelors         2        0           0
3  google     business manager    masters         2        0           1
4  google  computer programmer  bachelors         2        1           0

In [ ]:
inputs=inputs.drop(['degree','job','company'],axis='columns')

In [ ]:
inputs.head()

   comp_enc  job_enc  degree_enc
0         2        2           0
1         2        2           1
2         2        0           0
3         2        0           1
4         2        1           0

In [ ]:
from sklearn import tree
model=tree.DecisionTreeClassifier()

In [ ]:
model.fit(inputs,target)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [ ]:
model.score(inputs,target)

1.0